.footer__column-link {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: .2;
}
